[Unit]
Description=Homepage Daemon
Wants=network-online.target
After=network-online.target

[Service]
Environment=NODE_ENV=production
Type=exec
Restart=on-failure
WorkingDirectory=/opt/homepage
ExecStart=/usr/bin/pnpm start

[Install]
WantedBy=multi-user.target
