[Unit]
Description=Jellyseerr Daemon
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/jellyseerr/jellyseerr.conf
Environment=NODE_ENV=production
Environment=CONFIG_DIRECTORY=/etc/jellyseerr
Type=exec
Restart=on-failure
WorkingDirectory=/opt/jellyseerr
ExecStart=/root/.nvm/versions/node/v22.22.0/bin/node dist/index.js

[Install]
WantedBy=multi-user.target
