[Unit]
Description=Lidarr Daemon
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/Lidarr/
User=lidarr
Group=lidarr
Restart=on-failure
RestartSec=5
Type=simple
ExecStart=/opt/Lidarr/Lidarr -nobrowser -data=/var/lib/lidarr/
KillSignal=SIGINT
TimeoutStopSec=20
SyslogIdentifier=lidarr
ExecStartPre=/bin/sleep 30
KillMode=process

[Install]
WantedBy=multi-user.target
