10.1.1.1 usg.home.lan
10.1.1.20 unifi.home.lan
10.1.7.4 microserver-pve1.home.lan
10.1.7.5 microserver-pve2.home.lan
10.1.7.2 pve1.home.lan
10.1.7.3 pve2.home.lan
{{ tf_starbase80_ip }} dashboard.home.lan
{{ tf_cockpit_ip }} cockpit.home.lan
{{ tf_pi_hole_primary_ip }} pi-hole.home.lan
{{ tf_pi_hole_secondary_ip }} pi-hole-2.home.lan
{{ tf_traefik_ip }} traefik.home.lan
{{ tf_seerr_ip }} seerr.home.lan
{{ tf_prowlarr_ip }} prowlarr.home.lan
{{ tf_bazarr_ip }} bazarr.home.lan
{{ tf_sonarr_ip }} sonarr.home.lan
{{ tf_radarr_ip }} radarr.home.lan
{{ tf_lidarr_ip }} lidarr.home.lan
{{ tf_recyclarr_ip }} recyclarr.home.lan
{{ tf_plex_ip }} plex.home.lan
{{ tf_sabnzbd_ip }} sabnzbd.home.lan
{{ tf_syncthing_ip }} syncthing.home.lan
{{ tf_cookcli_ip }} cookcli.home.lan
{{ tf_donetick_ip }} donetick.home.lan
{{ tf_multi_scrobbler_ip }} multi-scrobbler.home.lan
{{ tf_vaultwarden_ip }} vaultwarden.home.lan
{{ tf_immich_ip }} immich.home.lan
{{ tf_slskd_ip }} slskd.home.lan
{{ tf_traefik_ip }} dashboard.{{ external_domain }}
{{ tf_traefik_ip }} usg.{{ external_domain }}
{{ tf_traefik_ip }} unifi.{{ external_domain }}
{{ tf_traefik_ip }} microserver-pve1.{{ external_domain }}
{{ tf_traefik_ip }} microserver-pve2.{{ external_domain }}
{{ tf_traefik_ip }} pve1.{{ external_domain }}
{{ tf_traefik_ip }} pve2.{{ external_domain }}
{{ tf_traefik_ip }} cockpit.{{ external_domain }}
{{ tf_traefik_ip }} pi-hole.{{ external_domain }}
{{ tf_traefik_ip }} pi-hole-2.{{ external_domain }}
{{ tf_traefik_ip }} traefik.{{ external_domain }}
{{ tf_traefik_ip }} media.{{ external_domain }}
{{ tf_traefik_ip }} requests.{{ external_domain }}
{{ tf_traefik_ip }} search.{{ external_domain }}
{{ tf_traefik_ip }} subtitles.{{ external_domain }}
{{ tf_traefik_ip }} tv.{{ external_domain }}
{{ tf_traefik_ip }} movies.{{ external_domain }}
{{ tf_traefik_ip }} music.{{ external_domain }}
{{ tf_traefik_ip }} watch.{{ external_domain }}
{{ tf_traefik_ip }} nzbs.{{ external_domain }}
{{ tf_traefik_ip }} streaming.{{ external_domain }}
{{ tf_traefik_ip }} syncthing.{{ external_domain }}
{{ tf_traefik_ip }} recipes.{{ external_domain }}
{{ tf_traefik_ip }} tasks.{{ external_domain }}
{{ tf_traefik_ip }} scrobbles.{{ external_domain }}
{{ tf_traefik_ip }} vault.{{ external_domain }}
{{ tf_traefik_ip }} photos.{{ external_domain }}
{{ tf_traefik_ip }} slskd.{{ external_domain }}
