192.168.2.1 modem.home.lan
192.168.1.1 usg.home.lan
192.168.1.4 unifi.home.lan
192.168.1.8 microserver-apollo.home.lan
192.168.1.9 microserver-hades.home.lan
192.168.1.10 apollo.home.lan
192.168.1.12 truenas.home.lan
192.168.1.14 hades.home.lan
192.168.1.16 dashboard.home.lan
192.168.1.20 pi-hole.home.lan
192.168.1.21 pi-hole-2.home.lan
192.168.1.22 crowdsec.home.lan
192.168.1.28 network.home.lan
192.168.1.29 traefik.home.lan
192.168.1.30 jellyfin.home.lan
192.168.1.31 jellyseerr.home.lan
192.168.1.32 prowlarr.home.lan
192.168.1.33 bazarr.home.lan
192.168.1.34 sonarr.home.lan
192.168.1.35 radarr.home.lan
192.168.1.36 lidarr.home.lan
192.168.1.37 tdarr.home.lan
192.168.1.38 navidrome.home.lan
192.168.1.39 recyclarr.home.lan
192.168.1.40 plex.home.lan
192.168.1.41 upgradinatorr.home.lan
192.168.1.42 jellyplex-watched.home.lan
192.168.1.43 firefly.home.lan
192.168.1.44 tautulli.home.lan
192.168.1.45 uptime-kuma.home.lan
192.168.10.30 sabnzbd.home.lan
192.168.10.31 qbittorrent.home.lan
192.168.10.32 antennas.home.lan
192.168.10.33 tvheadend.home.lan
192.168.1.29 modem.{{ external_domain }}
192.168.1.29 usg.{{ external_domain }}
192.168.1.29 unifi.{{ external_domain }}
192.168.1.29 microserver-apollo.{{ external_domain }}
192.168.1.29 microserver-hades.{{ external_domain }}
192.168.1.29 apollo.{{ external_domain }}
192.168.1.29 truenas.{{ external_domain }}
192.168.1.29 hades.{{ external_domain }}
192.168.1.29 dashboard.{{ external_domain }}
192.168.1.29 pi-hole.{{ external_domain }}
192.168.1.29 pi-hole-2.{{ external_domain }}
192.168.1.29 traefik.{{ external_domain }}
192.168.1.29 media.{{ external_domain }}
192.168.1.29 requests.{{ external_domain }}
192.168.1.29 search.{{ external_domain }}
192.168.1.29 subtitles.{{ external_domain }}
192.168.1.29 tv.{{ external_domain }}
192.168.1.29 movies.{{ external_domain }}
192.168.1.29 music.{{ external_domain }}
192.168.1.29 transcode.{{ external_domain }}
192.168.1.29 music-server.{{ external_domain }}
192.168.1.29 watch.{{ external_domain }}
192.168.1.29 finance.{{ external_domain }}
192.168.1.29 plex-stats.{{ external_domain }}
192.168.1.29 monitoring.{{ external_domain }}
192.168.1.29 nzbs.{{ external_domain }}
192.168.1.29 torrents.{{ external_domain }}
192.168.1.29 tuner.{{ external_domain }}
192.168.1.29 streaming.{{ external_domain }}
