[Unit]
Description=Seerr Daemon
Wants=network-online.target
After=network-online.target

[Service]
Environment=NODE_ENV=production
Environment=PORT=5055
Environment=CONFIG_DIRECTORY=/etc/seerr
Environment=DB_TYPE=postgres
Environment=DB_HOST={{ tf_postgres_ip }}
Environment=DB_PORT="5432"
Environment=DB_USER="seerr"
Environment=DB_PASS="{{ tf_seerr_database_password }}"
Environment=DB_NAME="seerr"
Environment=DB_POOL_SIZE="10"
Environment=DB_LOG_QUERIES="false"
Type=exec
Restart=on-failure
WorkingDirectory=/opt/seerr
ExecStart=/root/.nvm/versions/node/v22.23.2/bin/node dist/index.js

[Install]
WantedBy=multi-user.target
