---
log:
  filePath: "/var/log/traefik/traefik.log"
  format: json

accessLog:
  filePath: "/var/log/traefik/access.log"
  format: json
  fields:
    headers:
      defaultMode: keep

experimental:
  plugins:
    cloudflarewarp:
      moduleName: "github.com/BetterCorp/cloudflarewarp"
      version: "v1.3.3"

entryPoints:
  web:
    address: :80

  websecure:
    address: :443

providers:
  file:
    directory: /etc/traefik/config
    watch: true

api:
  dashboard: true
  insecure: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ acme_email }}"
      storage: /traefik-config/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "9.9.9.9"
          - "149.112.112.112"