[General]
DiscordWebhook=

[Radarr]
ApiKey={{ radarr_api_key }}
Count=10
IgnoreTag=
Monitored=true
MovieStatus=announced
QualityProfileName=
TagName=
Unattended=false
Url=https://movies.{{ external_domain }}

[Sonarr]
ApiKey={{ sonarr_api_key }}
Count=5
IgnoreTag=
Monitored=true
QualityProfileName=
SeriesStatus=continuing
TagName=
Unattended=false
Url=https://tv.{{ external_domain }}
