[General]
DiscordWebhook=

[Radarr]
ApiKey={{ radarr_api_key }}
Count=10
IgnoreTag=
Monitored=true
MovieStatus=announced
QualityProfileName=
TagName=
Unattended=false
Url=http://movies.home.lan

[Sonarr]
ApiKey={{ sonarr_api_key }}
Count=5
IgnoreTag=
Monitored=true
QualityProfileName=
SeriesStatus=continuing
TagName=
Unattended=false
Url=http://tv.home.lan
