---
http:
  routers:
    to-apollo-http:
      rule: "Host(`apollo.{{ external_domain }}`)"
      service: apollo
      middlewares:
        - https-redirect

    to-apollo:
      rule: "Host(`apollo.{{ external_domain }}`)"
      service: apollo
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    apollo:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: https://192.168.1.10:8006
