---
http:
  routers:
    to-hades-http:
      rule: "Host(`hades.{{ external_domain }}`)"
      service: hades
      middlewares:
        - https-redirect

    to-hades:
      rule: "Host(`hades.{{ external_domain }}`)"
      service: hades
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    hades:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: https://192.168.1.14:8006
