---
http:
  routers:
    to-homepage-http:
      rule: "Host(`dashboard.{{ external_domain }}`)"
      service: homepage
      middlewares:
        - https-redirect

    to-homepage:
      rule: "Host(`dashboard.{{ external_domain }}`)"
      service: homepage
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    homepage:
      loadBalancer:
        servers:
          - url: http://192.168.1.16:3000
