---
http:
  routers:
    to-microserver-hades-http:
      rule: "Host(`microserver-hades.{{ external_domain }}`)"
      service: microserver-hades
      middlewares:
        - https-redirect

    to-microserver-hades:
      rule: "Host(`microserver-hades.{{ external_domain }}`)"
      service: microserver-hades
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    microserver-hades:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: https://192.168.1.9
