---
http:
  routers:
    to-microserver-apollo-http:
      rule: "Host(`microserver-apollo.{{ external_domain }}`)"
      service: microserver-apollo
      middlewares:
        - https-redirect

    to-microserver-apollo:
      rule: "Host(`microserver-apollo.{{ external_domain }}`)"
      service: microserver-apollo
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    microserver-apollo:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: https://192.168.1.8
