---
http:
  routers:
    to-modem-http:
      rule: "Host(`modem.{{ external_domain }}`)"
      service: modem
      middlewares:
        - https-redirect

    to-modem:
      rule: "Host(`modem.{{ external_domain }}`)"
      service: modem
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    modem:
      loadBalancer:
        servers:
          - url: http://192.168.2.1
