---
http:
  routers:
    to-nzbget-http:
      rule: "Host(`nzbs.{{ external_domain }}`)"
      service: nzbget
      middlewares:
        - https-redirect

    to-nzbget:
      rule: "Host(`nzbs.{{ external_domain }}`)"
      service: nzbget
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    nzbget:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: http://{{ tf_nzbget_ip }}:6789
