---
http:
  routers:
    to-pi-hole-http:
      rule: "Host(`pi-hole.{{ external_domain }}`)"
      service: pi-hole
      middlewares:
        - https-redirect

    to-pi-hole:
      rule: "Host(`pi-hole.{{ external_domain }}`)"
      service: pi-hole
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    pi-hole:
      loadBalancer:
        servers:
          - url: http://192.168.1.20
