---
http:
  routers:
    to-pi-hole-2-http:
      rule: "Host(`pi-hole-2.{{ external_domain }}`)"
      service: pi-hole-2
      middlewares:
        - https-redirect

    to-pi-hole-2:
      rule: "Host(`pi-hole-2.{{ external_domain }}`)"
      service: pi-hole-2
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    pi-hole-2:
      loadBalancer:
        servers:
          - url: http://192.168.1.21
