---
http:
  routers:
    to-sabnzbd-http:
      rule: "Host(`nzbs.{{ external_domain }}`)"
      service: sabnzbd
      middlewares:
        - https-redirect

    to-sabnzbd:
      rule: "Host(`nzbs.{{ external_domain }}`)"
      service: sabnzbd
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    sabnzbd:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: https://{{ tf_sabnzbd_ip }}:8080
