---
http:
  routers:
    to-sonarr-http:
      rule: "Host(`tv.{{ external_domain }}`)"
      service: sonarr
      middlewares:
        - https-redirect

    to-sonarr:
      rule: "Host(`tv.{{ external_domain }}`)"
      service: sonarr
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    sonarr:
      loadBalancer:
        servers:
          - url: http://{{ tf_sonarr_ip }}:8989
