---
http:
  routers:
    to-starbase80-http:
      rule: "Host(`dashboard.{{ external_domain }}`)"
      service: starbase80
      middlewares:
        - https-redirect

    to-starbase80:
      rule: "Host(`dashboard.{{ external_domain }}`)"
      service: starbase80
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    starbase80:
      loadBalancer:
        servers:
          - url: http://{{ tf_starbase80_ip }}:8080