---
http:
  routers:
    to-threadfin-http:
      rule: "Host(`tuner.{{ external_domain }}`)"
      service: threadfin
      middlewares:
        - https-redirect

    to-threadfin:
      rule: "Host(`tuner.{{ external_domain }}`)"
      service: threadfin
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    threadfin:
      loadBalancer:
        servers:
          - url: http://192.168.10.32:34400
