---
http:
  routers:
    to-truenas-http:
      rule: "Host(`truenas.{{ external_domain }}`)"
      service: truenas
      middlewares:
        - https-redirect

    to-truenas:
      rule: "Host(`truenas.{{ external_domain }}`)"
      service: truenas
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    truenas:
      loadBalancer:
        servers:
          - url: http://192.168.1.12
