---
http:
  routers:
    to-unifi-http:
      rule: "Host(`unifi.{{ external_domain }}`)"
      service: unifi
      middlewares:
        - https-redirect

    to-unifi:
      rule: "Host(`unifi.{{ external_domain }}`)"
      service: unifi
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    unifi:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: https://192.168.1.4
