---
http:
  routers:
    to-usg-http:
      rule: "Host(`usg.{{ external_domain }}`)"
      service: usg
      middlewares:
        - https-redirect

    to-usg:
      rule: "Host(`usg.{{ external_domain }}`)"
      service: usg
      tls:
        certResolver: letsencrypt
        domains:
          - main: "{{ external_domain }}"
            sans:
              - "*.{{ external_domain }}"

  services:
    usg:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: https://192.168.1.1
