[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/Sonarr/
User=sonarr
Group=sonarr
Restart=on-failure
RestartSec=5
Type=simple
ExecStart=/opt/Sonarr/Sonarr -nobrowser -data=/var/lib/sonarr/
KillSignal=SIGINT
TimeoutStopSec=20
SyslogIdentifier=sonarr
ExecStartPre=/bin/sleep 30
KillMode=process

[Install]
WantedBy=multi-user.target
