{
    "m3uurl": "{{ iptv_m3u_url }}",
    "epgurl": "{{ iptv_xmltv_url }}",
    "range": 48,
    "groups": [
        "^UK \\| SPORTS$",
        "^UK \\| ENTERTAINMENT$",
        "^EPL \\| BEIN SPORTS$",
        "^EPL \\| NBC PEACOCK$",
        "^EPL \\| SUPER SPORTS$",
        "^AUSTRALIAN$"
    ],
    "discard_channels": [
        "^UKSD\\s?:",
        "^.* SD\\s?: .*$",
        "^.*LFC TV.*$",
        "^.*SportyStuff.*$",
        "^AR : ",
        "^AU: ",
        "^AUS: FOX LEAGUE$",
        "^AUS: BEIN SPORTS (1|2|3)$",
        "^Sky Sports Red Button",
        "^Stan Sport AU",
        "^UK (F)?HD : (ALIBI|E! ENTERTAINMENT|MTV|QUEST|S4C|SYFY|TLC|W)$",
        "^UK : BBC Scotland HD$",
        "^UK HD : (Sky Arts|Sky Atlantic|Sky Comedy|SKY MAX|SKY SHOWCASE|SKY WITNESS)$",
        "^UK HD : (BBC 1|COMEDY CENTRAL|Gold|ITV 1)$",
        "^UK UHD : BBC UHD (Live Events Only)$",
        "^UKFHD : CREATE & CRAFT$",
        "^SuperSport OTT 2 HD$",
        "^SuperSport: (?:(?!Cricket|Golf|Premier League|Football|Rugby|Tennis).)*$"
    ],
    "channel_transforms": [
        { "UK FHD  BBC1": "BBC One" },
        { "UK HD : BBC 2": "BBC Two" },
        { "UK FHD : BBC Three (7pm-4am)": "BBC Three" },
        { "UK FHD : BBC Four (7pm-4am)": "BBC Four" },
        { "UK FHD : ITV 1": "ITV 1" },
        { "UK HD : ITV 2": "ITV 2" },
        { "UK HD : ITV 3": "ITV 3" },
        { "UK HD : ITV 4": "ITV 4" },
        { "UK FHD : ITV BE": "ITV Be" },
        { "UK HD : CHANNEL 4": "Channel 4" },
        { "UK FHD : MORE 4": "More 4" },
        { "UK FHD : E4": "E4" },
        { "UK FHD : FILM 4": "Film 4" },
        { "UK HD : CHANNEL 5": "Channel 5" },
        { "UK HD : DAVE": "Dave" },
        { "UK FHD : GOLD": "Gold" },
        { "UK FHD : Sky Arts": "Sky Arts" },
        { "UK FHD : Sky Atlantic": "Sky Atlantic" },
        { "UK FHD : Sky Comedy": "Sky Comedy" },
        { "UK FHD : SKY MAX": "Sky Max" },
        { "UK FHD : SKY MIX": "Sky Mix" },
        { "UK FHD : SKY SHOWCASE": "Sky Showcase" },
        { "UK FHD : SKY WITNESS": "Sky Witness" },
        { "UK FHD : SKY SPORTS ACTION": "Sky Sports Action 4k" },
        { "UK HD : SKY SPORTS ACTION": "Sky Sports Action HD" },
        { "UK FHD : SKY SPORTS CRICKET": "Sky Sports Cricket 4k" },
        { "UK HD : SKY SPORTS CRICKET": "Sky Sports Cricket HD" },
        { "UK FHD : SKY SPORTS DARTS": "Sky Sports Darts 4k" },
        { "UK HD : SKY SPORTS DARTS": "Sky Sports Darts HD" },
        { "UK FHD : SKY SPORTS F1": "Sky Sports F1 4k" },
        { "UK HD : SKY SPORTS F1": "Sky Sports F1 HD" },
        { "UK FHD : SKY SPORTS FOOTBALL": "Sky Sports Football 4k" },
        { "UK HD : SKY SPORTS FOOTBALL": "Sky Sports Football HD" },
        { "UK FHD : SKY SPORTS GOLF": "Sky Sports Golf 4k" },
        { "UK HD : SKY SPORTS GOLF": "Sky Sports Golf HD" },
        { "UK FHD : SKY SPORTS MAIN EVENT": "Sky Sports Main Event 4k" },
        { "UK HD : SKY SPORTS MAIN EVENT": "Sky Sports Main Event HD" },
        { "UK FHD : SKY SPORTS MIX": "Sky Sports Mix 4k" },
        { "UK HD : SKY SPORTS MIX": "Sky Sports Mix HD" },
        { "UK FHD : SKY SPORTS NEWS": "Sky Sports News 4k" },
        { "UK HD : SKY SPORTS NEWS": "Sky Sports News HD" },
        { "UK FHD : SKY SPORTS PREMIER LEAGUE": "Sky Sports Premier League 4k" },
        { "UK HD : SKY SPORTS PREMIER LEAGUE": "Sky Sports Premier League HD" },
        { "UK FHD : SKY SPORTS RACING": "Sky Sports Racing 4k" },
        { "UK HD : SKY SPORTS RACING": "Sky Sports Racing HD" },
        { "UK FHD : TNT SPORTS 1": "TNT Sports 1 4k" },
        { "UK HD : TNT SPORTS 1": "TNT Sports 1 HD" },
        { "UK FHD : TNT SPORTS 2": "TNT Sports 2 4k" },
        { "UK HD : TNT SPORTS 2": "TNT Sports 2 HD" },
        { "UK FHD : TNT SPORTS 3": "TNT Sports 3 4k" },
        { "UK HD : TNT SPORTS 3": "TNT Sports 3 HD" },
        { "UK FHD : TNT SPORTS 4": "TNT Sports 4 4k" },
        { "UK HD : TNT SPORT 4": "TNT Sports 4 HD" },
        { "TNT SPORTS 5": "TNT Sports 5" },
        { "TNT SPORTS 6": "TNT Sports 6" },
        { "TNT SPORTS 7": "TNT Sports 7" },
        { "TNT SPORTS 8": "TNT Sports 8" },
        { "TNT SPORTS 9": "TNT Sports 9" },
        { "TNT SPORTS 10": "TNT Sports 10" },
        { "AUS: FOX CRICKET": "Fox Cricket" },
        { "UK FHD : MUTV": "MUTV 4k" },
        { "UK HD : MUTV": "MUTV HD" },
        { "UK HD : EUROSPORTS 1": "Eurosport 1" },
        { "UK HD : EUROSPORTS 2": "Eurosport 2" },
        { "UK FHD : PREMIER SPORTS (irish)": "Premier Sports" },
        { "UK HD : PREMIER SPORTS 2 (irish)": "Premier Sports 2" },
        { "IRE HD : PREMIER SPORTS IRELAND 1": "Premier Sports Ireland" },
        { "IRE HD : PREMIER SPORTS IRELAND 2": "Premier Sports Ireland 2" },
        { "UK FHD : VIAPLAY SPORTS 1": "Viaplay Sports 4k" },
        { "UK HD : VIAPLAY SPORTS 1": "Viaplay Sports HD" },
        { "UK FHD : VIAPLAY SPORTS 2": "Viaplay Sports 2 4k" },
        { "UK HD : VIAPLAY SPORTS 2": "Viaplay Sports 2 HD" },
        { "UK FHD : La Liga TV": "La Liga TV 4k" },
        { "UK HD : La Liga TV": "La Liga TV HD" },
        { "EN : beIN SPORTS 1 HD English": "beIN Sports 1" },
        { "EN : beIN SPORTS 2 HD English": "beIN Sports 2" },
        { "EN : beIN SPORTS 3 HD English": "beIN Sports 3" },
        { "USA : beIN Sport USA": "beIN Sport USA" },
        { "peacock 01": "Peacock 1" },
        { "peacock 02": "Peacock 2" },
        { "peacock 03": "Peacock 3" },
        { "peacock 04": "Peacock 4" },
        { "peacock 05": "Peacock 5" },
        { "peacock 06": "Peacock 6" },
        { "peacock 07": "Peacock 7" },
        { "peacock 08": "Peacock 8" },
        { "peacock 09": "Peacock 9" },
        { "peacock 10": "Peacock 10" },
        { "peacock 11": "Peacock 11" },
        { "USA Network FHD (60fps)": "Peacock USA Network" },
        { "SPARK 1": "Spark Sport 1" },
        { "SPARK 2": "Spark Sport 2" },
        { "SPARK 3": "Spark Sport 3" },
        { "SPARK 4": "Spark Sport 4" },
        { "SPARK 5": "Spark Sport 5" },
        { "SPARK 6": "Spark Sport 6" },
        { "SPARK 7": "Spark Sport 7" },
        { "SPARK 8": "Spark Sport 8" },
        { "Spark 9": "Spark Sport 9" },
        { "Spark 10": "Spark Sport 10" },
        { "SuperSport: Cricket": "SuperSport Cricket" },
        { "SuperSport: Golf": "SuperSport Golf" },
        { "SuperSport: Premier League": "SuperSport Premier League" },
        { "SuperSport: Football": "SuperSport Football" },
        { "SuperSport: Rugby": "SuperSport Rugby" },
        { "SuperSport: Tennis": "SuperSport Tennis" }
    ],
    "sortchannels": [
        "BBC One",
        "BBC Two",
        "BBC Three",
        "BBC Four",
        "ITV 1",
        "ITV 2",
        "ITV 3",
        "ITV 4",
        "ITV Be",
        "Channel 4",
        "More 4",
        "E4",
        "Film 4",
        "Channel 5",
        "Dave",
        "Gold",
        "Sky Arts",
        "Sky Atlantic",
        "Sky Comedy",
        "Sky Max",
        "Sky Mix",
        "Sky Showcase",
        "Sky Witness",
        "Sky Sports Action 4k",
        "Sky Sports Action HD",
        "Sky Sports Cricket 4k",
        "Sky Sports Cricket HD",
        "Sky Sports Darts 4k",
        "Sky Sports Darts HD",
        "Sky Sports F1 4k",
        "Sky Sports F1 HD",
        "Sky Sports Football 4k",
        "Sky Sports Football HD",
        "Sky Sports Golf 4k",
        "Sky Sports Golf HD",
        "Sky Sports Main Event 4k",
        "Sky Sports Main Event HD",
        "Sky Sports Mix 4k",
        "Sky Sports Mix HD",
        "Sky Sports News 4k",
        "Sky Sports News HD",
        "Sky Sports Premier League 4k",
        "Sky Sports Premier League HD",
        "Sky Sports Racing 4k",
        "Sky Sports Racing HD",
        "TNT Sports 1 4k",
        "TNT Sports 1 HD",
        "TNT Sports 2 4k",
        "TNT Sports 2 HD",
        "TNT Sports 3 4k",
        "TNT Sports 3 HD",
        "TNT Sports 4 4k",
        "TNT Sports 4 HD",
        "TNT Sports 5",
        "TNT Sports 6",
        "TNT Sports 7",
        "TNT Sports 8",
        "TNT Sports 9",
        "TNT Sports 10",
        "Fox Cricket",
        "MUTV 4k",
        "MUTV HD",
        "Eurosport 1",
        "Eurosport 2",
        "Premier Sports",
        "Premier Sports 2",
        "Premier Sports Ireland",
        "Premier Sports Ireland 2",
        "Viaplay Sports 4k",
        "Viaplay Sports HD",
        "Viaplay Sports 2 4k",
        "Viaplay Sports 2 HD",
        "La Liga TV 4k",
        "La Liga TV HD",
        "beIN Sports 1",
        "beIN Sports 2",
        "beIN Sports 3",
        "beIN Sports XTRA",
        "beIN Sport USA",
        "Peacock 1",
        "Peacock 2",
        "Peacock 3",
        "Peacock 4",
        "Peacock 5",
        "Peacock 6",
        "Peacock 7",
        "Peacock 8",
        "Peacock 9",
        "Peacock 10",
        "Peacock 11",
        "Peacock USA Network",
        "Spark Sport 1",
        "Spark Sport 2",
        "Spark Sport 3",
        "Spark Sport 4",
        "Spark Sport 5",
        "Spark Sport 6",
        "Spark Sport 7",
        "Spark Sport 8",
        "Spark Sport 9",
        "Spark Sport 10",
        "SuperSport Cricket",
        "SuperSport Golf",
        "SuperSport Premier League",
        "SuperSport Football",
        "SuperSport Rugby",
        "SuperSport Tennis"
    ],
    "tvh_offset": 0,
    "no_tvg_id": false,
    "no_epg": false,
    "force_epg": false,
    "no_sort": false,
    "outdirectory": "/var/lib/iptv",
    "outfilename": "output_file",
    "log_enabled": true
}
