[Unit]
Description=Multi-scrobbler Daemon
Wants=network-online.target
After=network-online.target

[Service]
Environment=CONFIG_DIR=/opt/multi-scrobbler/config
Type=exec
Restart=on-failure
WorkingDirectory=/opt/multi-scrobbler
ExecStart=/root/start-multi-scrobbler.sh

[Install]
WantedBy=default.target
